<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="custom_payment" instance="BARQFleet\Shipping\Observer\PaymentMethodAvailable" />
    </event>
    <event name="checkout_submit_all_after">
		<observer name="place_order_after" instance="BARQFleet\Shipping\Observer\Orderplaceafter" />
	</event>
	<event name="sales_order_invoice_pay">
        <observer name="invoice_order_status" instance="BARQFleet\Shipping\Observer\InvoiceOrderUpdate" />
    </event>
     <event name="sales_order_shipment_save_after">
        <observer name="shipment_order_update" instance="BARQFleet\Shipping\Observer\ShipmentOrderUpdate" />
    </event>
   
    
</config>
